<header class="app-header">
  <div class="logo" routerLink="/">
    <img
      src="bonfire_logo_only_transparent.png"
      alt="Bonfire Logo"
      height="40"
    />
    <span>{{ title }}</span>
  </div>
  <div class="cta-section">
    <button class="route-button cta-button" routerLink="/create-fire">
      Start a Fire
    </button>
    <button class="route-button secondary-button" routerLink="/join-fire">
      Join a Fire
    </button>
  </div>
</header>

<main class="app-main">
  <router-outlet></router-outlet>
</main>
